<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.android.sample">


    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="br.com.android.sample.view.mapa.MAPS_RECEVE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <permission
        android:name="br.com.android.sample.view.mapa.MAPS_RECEVE"
        android:protectionLevel="signature" />



    <application
        android:allowBackup="true"
        android:icon="@drawable/logocponto"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".view.inicial.InicialActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.home.HomeActivity_"
            android:label="@string/label_home" />
        <activity
            android:name=".view.authentication.AuthenticationActivity_"
            android:label="@string/label_authentication"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.cadastro.CadastroUsuarioActivity_"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB2l5KSKY3cseqZ0y6Bq8sd0jRwcsT7MsA" />

        <activity
            android:name=".view.mapa.MapsActivity"
            android:label="@string/title_activity_maps"></activity>
    </application>

</manifest>