<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.android.sample">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="br.com.android.sample.view.mapa.MAPS_RECEVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.location" />
    <uses-feature android:name="android.hardware.location.network" />


    <permission
        android:name="br.com.android.sample.view.mapa.MAPS_RECEVE"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_fundo_azul"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".view.autenticacao.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.autenticacao.CadastrarUsuarioActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.autenticacao.ResetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.autenticacao.UpdateActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB2l5KSKY3cseqZ0y6Bq8sd0jRwcsT7MsA" />

        <activity
            android:name=".view.mapa.MapsActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.cadastrar.MedicaoActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".view.cadastrar.CadastrarPontoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".view.ar.PontoARActivity" />

        <activity
            android:name=".view.visualizar.VisualizaComentarioActivity"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".view.visualizar.VisualizaFotoActivity"></activity>
    </application>

</manifest>